In [4]:
import pandas as pd

dados = {
    "Nome": ["Aline", "Beto", "Carla", "Daniel"],
    "Idade": [25,30,45,50],
    "Naturalidade": ["SP", "AM", "RJ", "SP"]
}

df = pd.DataFrame(dados)
print(dados)

{'Nome': ['Aline', 'Beto', 'Carla', 'Daniel'], 'Idade': [25, 30, 45, 50], 'Naturalidade': ['SP', 'AM', 'RJ', 'SP']}

In [5]:
print(df[df["Idade"]>30])

     Nome  Idade Naturalidade
2   Carla     45           RJ
3  Daniel     50           SP

In [6]:
print(df["Nome"])

0     Aline
1      Beto
2     Carla
3    Daniel
Name: Nome, dtype: object

In [7]:
# Localizar index especifico
print(df)
print(df.loc[0:2])

     Nome  Idade Naturalidade
0   Aline     25           SP
1    Beto     30           AM
2   Carla     45           RJ
3  Daniel     50           SP
    Nome  Idade Naturalidade
0  Aline     25           SP
1   Beto     30           AM
2  Carla     45           RJ

In [8]:
# Ler os primeiros registros
df.head()

     Nome  Idade Naturalidade
0   Aline     25           SP
1    Beto     30           AM
2   Carla     45           RJ
3  Daniel     50           SP

In [9]:
print(df[df["Nome"]=="Aline"])

    Nome  Idade Naturalidade
0  Aline     25           SP