In [2]:
# 1. Exercício: Carregar um arquivo e exibir as primeiras 5 linhas.

import pandas as pd
import numpy as np

data = {
    "Nome": ["João", "Maria", "José", "Ana", "Pedro", "Ana", "Jessica", "Carlos"],
    "Idade": [28, np.nan, 35, 22, np.nan, 22, 20, 35],
    "Cidade": ["São Paulo", "Rio de Janeiro", np.nan, "Salvador", "Porto Alegre", "Salvador", "são paulo", "porto alegre"],
    "Salário": [3500, 4500, np.nan, 5000, 4800, 5000, 3410, 2500]
}

df = pd.DataFrame(data)

arquivo = "dados_faltantes.xlsx"
df.to_excel(arquivo, index=False)

In [5]:
# 2. Exercício: Verificar se há valores NaN nas colunas do DataFrame.
print(df.isnull())

    Nome  Idade  Cidade  Salário
0  False  False   False    False
1  False   True   False    False
2  False  False    True     True
3  False  False   False    False
4  False   True   False    False
5  False  False   False    False
6  False  False   False    False
7  False  False   False    False

In [6]:
# 3. Exercício: Substituir os valores NaN de uma coluna por 0.
df["Salário"].fillna(0, inplace = True)
print(df)

      Nome  Idade          Cidade  Salário
0     João   28.0       São Paulo   3500.0
1    Maria    NaN  Rio de Janeiro   4500.0
2     José   35.0             NaN      0.0
3      Ana   22.0        Salvador   5000.0
4    Pedro    NaN    Porto Alegre   4800.0
5      Ana   22.0        Salvador   5000.0
6  Jessica   20.0       são paulo   3410.0
7   Carlos   35.0    porto alegre   2500.0

C:\Users\50290149851\AppData\Local\Temp\ipykernel_1640\2917652879.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salário"].fillna(0, inplace = True)

In [7]:
# 4. Exercício: Substituir os valores NaN de uma coluna por um valor específico
# (por exemplo, a média).
df["Idade"].fillna(df["Idade"].mean(), inplace = True)
print(df)

      Nome  Idade          Cidade  Salário
0     João   28.0       São Paulo   3500.0
1    Maria   27.0  Rio de Janeiro   4500.0
2     José   35.0             NaN      0.0
3      Ana   22.0        Salvador   5000.0
4    Pedro   27.0    Porto Alegre   4800.0
5      Ana   22.0        Salvador   5000.0
6  Jessica   20.0       são paulo   3410.0
7   Carlos   35.0    porto alegre   2500.0

C:\Users\50290149851\AppData\Local\Temp\ipykernel_1640\385694946.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Idade"].fillna(df["Idade"].mean(), inplace = True)

In [8]:
# 5. Exercício: Remover todas as linhas que contêm valores NaN em qualquer
# coluna
df_sem_nulos = df.dropna()
print(df_sem_nulos)

      Nome  Idade          Cidade  Salário
0     João   28.0       São Paulo   3500.0
1    Maria   27.0  Rio de Janeiro   4500.0
3      Ana   22.0        Salvador   5000.0
4    Pedro   27.0    Porto Alegre   4800.0
5      Ana   22.0        Salvador   5000.0
6  Jessica   20.0       são paulo   3410.0
7   Carlos   35.0    porto alegre   2500.0

In [4]:
# 6. Exercício: Remover todas as linhas que contêm valores NaN em uma
#coluna específica.
df_sem_nulos = df.dropna()
print(df_sem_nulos)

      Nome  Idade        Cidade  Salário
0     João   28.0     São Paulo   3500.0
3      Ana   22.0      Salvador   5000.0
5      Ana   22.0      Salvador   5000.0
6  Jessica   20.0     são paulo   3410.0
7   Carlos   35.0  porto alegre   2500.0